<%- include('./partials/head') %>

</head>

<body class="body-categoria">
    <%- include('./partials/header') %>

    <div class="uk-container">
        <div class="uk-section">

            <% if (resultados.length != 0) { %>
            

            <ul class="uk-flex uk-flex-wrap uk-flex-between uk-child-width-1-3" style="list-style: none;">

                <% for( let i = 0; i < resultados.length; i++ ) { %>
                <li class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin">
                    <a href="/productos/detalle/<%= resultados[i].id %>" class="uk-link-text">
                        <img src="<%= resultados[i].img_url %>" alt="" width="100%">
                        <h5 class="uk-text-center"><%= resultados[i].nombre %></h5>
                        <p class="uk-text-center">U$D <%= resultados[i].precio %></p>
                        <p class="uk-text-center"><%= resultados[i].marca %></p>
                    </a>
                </li>
                <% } %>

            </ul>

            <% }else{ %>

            <h1 class="uk-text-center">No se encontraron resultados</h1>

            <% } %>
        </div>
    </div>

</body>

</html>